<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


  <!-- =============================================== -->
  <!-- 4-DOF camera arm                                -->
  <!-- =============================================== -->

  <xacro:macro name="manipulator" params="robot">

    <!-- Body height needed for mounting -->
    <xacro:property
      name="body_height"
      value="${robot['body']['height']}"/>


    <!-- Arm base -->

    <xacro:property
      name="arm_base_radius"
      value="${robot['manipulator']['base']['radius']}"/>

    <xacro:property
      name="arm_base_height"
      value="${robot['manipulator']['base']['height']}"/>

    <xacro:property
      name="arm_base_mass"
      value="${robot['manipulator']['base']['mass']}"/>


    <!-- Link 1 -->

    <xacro:property
      name="arm_link_1_length"
      value="${robot['manipulator']['link1']['length']}"/>

    <xacro:property
      name="arm_link_1_width"
      value="${robot['manipulator']['link1']['width']}"/>

    <xacro:property
      name="arm_link_1_height"
      value="${robot['manipulator']['link1']['height']}"/>

    <xacro:property
      name="arm_link_1_mass"
      value="${robot['manipulator']['link1']['mass']}"/>


    <!-- Link 2 -->

    <xacro:property
      name="arm_link_2_length"
      value="${robot['manipulator']['link2']['length']}"/>

    <xacro:property
      name="arm_link_2_width"
      value="${robot['manipulator']['link2']['width']}"/>

    <xacro:property
      name="arm_link_2_height"
      value="${robot['manipulator']['link2']['height']}"/>

    <xacro:property
      name="arm_link_2_mass"
      value="${robot['manipulator']['link2']['mass']}"/>


    <!-- Wrist -->

    <xacro:property
      name="wrist_length"
      value="${robot['manipulator']['wrist']['length']}"/>

    <xacro:property
      name="wrist_width"
      value="${robot['manipulator']['wrist']['width']}"/>

    <xacro:property
      name="wrist_height"
      value="${robot['manipulator']['wrist']['height']}"/>

    <xacro:property
      name="wrist_mass"
      value="${robot['manipulator']['wrist']['mass']}"/>


    <!-- Camera -->

    <xacro:property
      name="camera_length"
      value="${robot['manipulator']['camera']['length']}"/>

    <xacro:property
      name="camera_width"
      value="${robot['manipulator']['camera']['width']}"/>

    <xacro:property
      name="camera_height"
      value="${robot['manipulator']['camera']['height']}"/>

    <xacro:property
      name="camera_mass"
      value="${robot['manipulator']['camera']['mass']}"/>


    <!-- Joints -->

    <xacro:property
      name="base_yaw_joint_cfg"
      value="${robot['manipulator']['joints']['base_yaw']}"/>

    <xacro:property
      name="shoulder_joint_cfg"
      value="${robot['manipulator']['joints']['shoulder']}"/>

    <xacro:property
      name="elbow_joint_cfg"
      value="${robot['manipulator']['joints']['elbow']}"/>

    <xacro:property
      name="wrist_joint_cfg"
      value="${robot['manipulator']['joints']['wrist']}"/>


    <!-- ============================================= -->
    <!-- Arm base                                      -->
    <!-- ============================================= -->

    <link name="arm_base">

      <visual>
        <geometry>
          <cylinder
            radius="${arm_base_radius}"
            length="${arm_base_height}"/>
        </geometry>

        <material name="gray"/>
      </visual>


      <collision>
        <geometry>
          <cylinder
            radius="${arm_base_radius}"
            length="${arm_base_height}"/>
        </geometry>
      </collision>


      <xacro:cylinder_inertial
        mass="${arm_base_mass}"
        radius="${arm_base_radius}"
        length="${arm_base_height}"/>

    </link>


    <joint name="base_yaw_joint" type="revolute">

      <parent link="base_link"/>
      <child link="arm_base"/>

      <origin
        xyz="0 0 ${body_height / 2.0 + arm_base_height / 2.0}"
        rpy="0 0 0"/>

      <axis
        xyz="${base_yaw_joint_cfg['axis'][0]}
             ${base_yaw_joint_cfg['axis'][1]}
             ${base_yaw_joint_cfg['axis'][2]}"/>

      <limit
        lower="${base_yaw_joint_cfg['lower']}"
        upper="${base_yaw_joint_cfg['upper']}"
        effort="${base_yaw_joint_cfg['effort']}"
        velocity="${base_yaw_joint_cfg['velocity']}"/>

      <dynamics
        damping="${base_yaw_joint_cfg['damping']}"
        friction="0.0"/>

    </joint>


    <!-- ============================================= -->
    <!-- Link 1                                        -->
    <!-- ============================================= -->

    <link name="arm_link_1">

      <visual>

        <origin
          xyz="${arm_link_1_length / 2.0} 0 0"
          rpy="0 0 0"/>

        <geometry>
          <box
            size="${arm_link_1_length}
                  ${arm_link_1_width}
                  ${arm_link_1_height}"/>
        </geometry>

        <material name="orange"/>

      </visual>


      <collision>

        <origin
          xyz="${arm_link_1_length / 2.0} 0 0"
          rpy="0 0 0"/>

        <geometry>
          <box
            size="${arm_link_1_length}
                  ${arm_link_1_width}
                  ${arm_link_1_height}"/>
        </geometry>

      </collision>


      <xacro:box_inertial
        mass="${arm_link_1_mass}"
        length="${arm_link_1_length}"
        width="${arm_link_1_width}"
        height="${arm_link_1_height}"
        origin_x="${arm_link_1_length / 2.0}"/>

    </link>


    <joint name="shoulder_joint" type="revolute">

      <parent link="arm_base"/>
      <child link="arm_link_1"/>

      <origin
        xyz="0 0 ${arm_base_height / 2.0}"
        rpy="0 0 0"/>

      <axis
        xyz="${shoulder_joint_cfg['axis'][0]}
             ${shoulder_joint_cfg['axis'][1]}
             ${shoulder_joint_cfg['axis'][2]}"/>

      <limit
        lower="${shoulder_joint_cfg['lower']}"
        upper="${shoulder_joint_cfg['upper']}"
        effort="${shoulder_joint_cfg['effort']}"
        velocity="${shoulder_joint_cfg['velocity']}"/>

      <dynamics
        damping="${shoulder_joint_cfg['damping']}"
        friction="0.0"/>

    </joint>


    <!-- ============================================= -->
    <!-- Link 2                                        -->
    <!-- ============================================= -->

    <link name="arm_link_2">

      <visual>

        <origin
          xyz="${arm_link_2_length / 2.0} 0 0"
          rpy="0 0 0"/>

        <geometry>
          <box
            size="${arm_link_2_length}
                  ${arm_link_2_width}
                  ${arm_link_2_height}"/>
        </geometry>

        <material name="yellow"/>

      </visual>


      <collision>

        <origin
          xyz="${arm_link_2_length / 2.0} 0 0"
          rpy="0 0 0"/>

        <geometry>
          <box
            size="${arm_link_2_length}
                  ${arm_link_2_width}
                  ${arm_link_2_height}"/>
        </geometry>

      </collision>


      <xacro:box_inertial
        mass="${arm_link_2_mass}"
        length="${arm_link_2_length}"
        width="${arm_link_2_width}"
        height="${arm_link_2_height}"
        origin_x="${arm_link_2_length / 2.0}"/>

    </link>


    <joint name="elbow_joint" type="revolute">

      <parent link="arm_link_1"/>
      <child link="arm_link_2"/>

      <origin
        xyz="${arm_link_1_length} 0 0"
        rpy="0 0 0"/>

      <axis
        xyz="${elbow_joint_cfg['axis'][0]}
             ${elbow_joint_cfg['axis'][1]}
             ${elbow_joint_cfg['axis'][2]}"/>

      <limit
        lower="${elbow_joint_cfg['lower']}"
        upper="${elbow_joint_cfg['upper']}"
        effort="${elbow_joint_cfg['effort']}"
        velocity="${elbow_joint_cfg['velocity']}"/>

      <dynamics
        damping="${elbow_joint_cfg['damping']}"
        friction="0.0"/>

    </joint>


    <!-- ============================================= -->
    <!-- Wrist                                         -->
    <!-- ============================================= -->

    <link name="wrist_link">

      <visual>

        <origin
          xyz="${wrist_length / 2.0} 0 0"
          rpy="0 0 0"/>

        <geometry>
          <box
            size="${wrist_length}
                  ${wrist_width}
                  ${wrist_height}"/>
        </geometry>

        <material name="gray"/>

      </visual>


      <collision>

        <origin
          xyz="${wrist_length / 2.0} 0 0"
          rpy="0 0 0"/>

        <geometry>
          <box
            size="${wrist_length}
                  ${wrist_width}
                  ${wrist_height}"/>
        </geometry>

      </collision>


      <xacro:box_inertial
        mass="${wrist_mass}"
        length="${wrist_length}"
        width="${wrist_width}"
        height="${wrist_height}"
        origin_x="${wrist_length / 2.0}"/>

    </link>


    <joint name="wrist_joint" type="revolute">

      <parent link="arm_link_2"/>
      <child link="wrist_link"/>

      <origin
        xyz="${arm_link_2_length} 0 0"
        rpy="0 0 0"/>

      <axis
        xyz="${wrist_joint_cfg['axis'][0]}
             ${wrist_joint_cfg['axis'][1]}
             ${wrist_joint_cfg['axis'][2]}"/>

      <limit
        lower="${wrist_joint_cfg['lower']}"
        upper="${wrist_joint_cfg['upper']}"
        effort="${wrist_joint_cfg['effort']}"
        velocity="${wrist_joint_cfg['velocity']}"/>

      <dynamics
        damping="${wrist_joint_cfg['damping']}"
        friction="0.0"/>

    </joint>



  </xacro:macro>

</robot>
